
/* blank html */
nav {
  box-shadow: 0 1px 2px 0 rgb(0 0 0/0.2);
}
#btn-apple path {
  fill: rgb(0, 159, 127);
}
nav .dropdown-toggle::after {
  color: rgb(0, 159, 127);
  font-size: 20px;
}
.hover-green:hover {
  background-color: rgb(1, 147, 118);
}
.hover-gray:hover{
  background-color: rgb(75, 85, 99);
}
.hover-primary:hover{
  background-color: rgb(53 116 222)  !important;
}

nav .dropdown {
  border: 2px solid rgb(229, 231, 235);
}

.nav-menu{
  width: 200px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.05);
}
.nav-menu .dropdown-item {
  column-gap: 0px !important;


}
.nav-menu .dropdown-item:hover,
.nav-menu .dropdown-item:focus {
  background-color: white !important;
}
.text-green {
  text-decoration: none;
  color: rgb(0, 159, 127);
}
.text-green:hover {
  color: rgb(1, 147, 118) !important;
}

button.btn:active {
border-top: 2px solid  rgb(0, 159, 127) !important;
border-bottom: 2px solid  rgb(0, 159, 127) !important;
}
#fb-btn:active{
border-top: 2px solid  #0d6efd !important;
border-bottom: 2px solid  #0d6efd !important;

}
#mobile-btn:active{
  border-top: 2px solid   rgb(75, 85, 99) !important;
  border-bottom: 2px solid   rgb(75, 85, 99) !important;
  
  }

/* modal  */
.login input:focus{
  border: 1.5px solid rgb(1, 147, 118) !important;

}
.login button{
  padding: .75rem 0;
}
#or::before ,#or::after{
  content: '';
  width: 208px;
  height: 1px;
  border: none;
  outline:none;
  background-color:silver;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);


}
#or::after{
  right: 0;
}


.or::before ,.or::after{
  content: '';
  width: 208px;
  height: 1px;
  border: none;
  outline:none;
  background-color:silver;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);


}
.or::after{
  right: 0;
}


.register-link:hover{
  text-decoration: none !important;
}

/* Shops html */

.shop-info{
  font-size: 12px;
}



